@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@400;500&display=swap');

:root {
    --bg-color1: #212529;
    --bg-color2: #2a2b2d;
    --aqi-1: #d4e157;
    --aqi-2: #ffee58;
    --aqi-3: #ffca28;
    --aqi-4: #ff7043;
    --aqi-5: #ef5350;
    --font-family-body: 'Roboto', sans-serif;
    --font-family-heading: 'Poppins', sans-serif;
    --main-color: #1CB5E0;
    --accent-color: #00CCFF;
    --danger-color: #ea6e4b;
    --gradient-bg: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
    --box-shadow: 0 10px 20px rgba(0, 8, 81, 0.25);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: #fff;
    min-height: 100vh;
    padding: 0 15px;
    background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
}

.header {
    position: sticky;
    top: 0;
    background: var(--gradient-bg);
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    margin-bottom: 10px;
    border-radius: 0 0 15px 15px;
    z-index: 1000;
    transition: background-color 0.3s ease-in-out;

    & h2 {
        padding-left: 20px;
        font-family: var(--font-family-heading);
        font-weight: 600;
    }

    & #city-input {
        background-color: #E1EBEE;
        color: #0C2340;
        border: none;
        padding: 12px;
        font-size: 16px;
        border-radius: 25px;
        transition: background-color 0.3s ease-in-out;

        &:focus {
            background-color: #dce7eb;
            outline: none;
        }
    }

    & #searchBtn,
    & #locationBtn {
        padding: 12px;
        font-size: 16px;
        border-radius: 25px;
        cursor: pointer;
        border: none;
        transition: all 0.3s ease-in-out;
    }

    & #searchBtn {
        background-color: var(--accent-color);

        &:hover {
            background: linear-gradient(90deg, #00b3cc, var(--accent-color));
            box-shadow: 0 5px 15px rgba(0, 204, 255, 0.5);
        }
    }

    & #locationBtn {
        background-color: var(--danger-color);

        &:hover {
            background: linear-gradient(90deg, #d95636, var(--danger-color));
            box-shadow: 0 5px 15px rgba(234, 110, 75, 0.5);
        }
    }
    & .title {
        font-family: var(--font-family-heading);
        gap: 20px;
        padding-left: 40px;
        
        & .running {
            display: flex;
            align-items: center;
        }

        & img {
            width: 50px;
            margin-right: 20px;
        }

        & h1 {
            font-size: 28px;
            font-family: var(--font-family-heading);
            font-weight: 600;
        }
    }
}

.card {
    background-color: var(--bg-color2);
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 15px;

    & p {
        font-size: 14px;
        color: #999;
    }

    & h2 {
        font-size: 32px;
        font-weight: 500;
    }
}

.weather-data {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;

    & .weather-left {
        grid-column: span 1;

        & .current-weather {
            display: flex;
            justify-content: space-between;
            align-items: center;

            & h2 {
                margin: 7px 0;
            }

            & p {
                color: #fff;
            }
        }

        & .card-footer p {
            font-size: 14px;
            margin-bottom: 12px;
        }

        & .forecast-item {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            place-items: center;
            margin-bottom: 15px;

            & .icon-wrapper {
                display: flex;
                align-items: center;
            }
        }
    }
}